.resultsContainer {
    display: flex;
    gap: 5rem;
    padding: 2rem 4rem;
    align-items: center;
}

.playstyle {
    background-color: var(--color-main);
    color: var(--background-color-tertiary);
    font-weight: bolder;
    font-size: larger;
    padding: .2rem 5rem;
    text-transform: uppercase;
    text-align: center;
}

.results {
    text-align: center;
}

.results > * {
    margin: .8rem 0;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px dotted var(--color-main);
}

.statistics > div {
    padding: 0.5rem 0rem;
    text-align: left;
}

.statistics span {
    color: var(--color-red);
    font-size: 10px;
    text-transform: uppercase;
}

.statistics p {
    font-size: large;
}

@media screen and (max-width: 900px) {
    .resultsContainer {
        flex-direction: column;
    }
}