.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 50px;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: var(--background-color-main);
    letter-spacing: 1rem;
    background-color: var(--color-red);
    padding: 0 4rem;
}

.content {
    /*padding: 3rem 0;*/
    flex: 1 1 auto;
    width: 50%;
    margin: 50px 0px;
}

.footer {
    display: flex;
    background-color: var(--background-color-secondary);
    /*flex: 0 1 auto;*/
    width: 100%;
    margin-bottom: 50px;
}

.footerLink {
    padding: 1rem 6rem;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: bolder;
    transition: all 0.1s ease-in-out;
}

.footerLink:hover {
    background-color: var(--color-red);
    transform: scale(1.05);
}