.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 50px;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-red);
}

.title h1 {
    color: var(--background-color-main);
    letter-spacing: 1rem;
    padding: .2rem 0;
}

.content {
    flex: 1 1 auto;
    width: 50%;
    margin: 50px 0px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--footer-color);
    height: 8vh;
    width: 100%;
    margin-bottom: 4rem;
}

.footerLink {
    height: 100%;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: bolder;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

.footerLink:hover {
    background-color: var(--color-red);
    transform: scale(1.05);
}

.footerLink .footerIcon {
    height: 3rem;
    padding: 0 1rem;
}

.flag {
    height: 2rem;
}