body {
    --background-color-main: white;
    --background-color-secondary: #19232c;
    --color-main: black;
    --color-red: #ff000e;
    --color-white: white;
}

body.dark {
    --background-color-main: black;
    --color-main: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color-main);
    transition: background-color 0.1s linear;
    font-family: sans-serif;
}

body * {
    color: var(--color-main);
    transition: color 0.1s linear;
}

a {
    text-decoration: none;
}