body {
    --background-color-main: black;
    --background-color-secondary: #19232c;
    --background-color-tertiary: #394855;
    --color-main: white;
    --color-red: #ff000e;
    --color-white: white;
    --color-green: #10460f;
    --background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('backgroundImage.png');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    transition: background-color 0.1s linear;
    font-family: sans-serif;
}

body * {
    color: var(--color-main);
    transition: color 0.1s linear;
}

a {
    text-decoration: none;
}