body {
    /*Variables */
    --background-color-main: black;
    --background-color-secondary: #19232c;
    --footer-color: rgba(78, 96, 108, 0.3);
    --background-color-tertiary: #394855;
    --color-main: white;
    --color-red: #ff000e;
    --color-white: white;
    --color-green: #10460f;
    --background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/backgroundImage.png');

    scrollbar-color: var(--color-red) var(--background-color-tertiary);
    scrollbar-width: thin;
}

@font-face {
    font-family: 'Hitman Font';
    src: local('M Ying Hei PRC W48 W7'), url('/fonts/hitmanFont.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    transition: background-color 0.1s linear;
    /*font-family: sans-serif;*/
    font-family: "Hitman Font", serif;
}

body * {
    color: var(--color-main);
    transition: color 0.1s linear;
}

a {
    text-decoration: none;
}